---
import type { Footer } from "../../../types/footer";

type Props = Footer;

const {
    contact_address,
    contact_facebook,
    contact_instagram,
    contact_name,
    contact_x,
    contact_country,
} = Astro.props;
---

<svg
    style="transform: translateY(20px);"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1440 320"
    ><path
        fill="var(--secondary-color)"
        fill-opacity="1"
        d="M0,128L360,256L720,192L1080,128L1440,160L1440,320L1080,320L720,320L360,320L0,320Z"
    ></path></svg
>
<footer class="py-5">
    <div class="row">
        <div class="col-6 col-md-2 mb-3">
            <ul class="nav flex-column">
                <li class="nav-item mb-2">Address</li>
                <li class="nav-item mb-2">
                    <a
                        style="visibility: hidden;"
                        href="#"
                        class="nav-link p-0 text-body-secondary">&nbsp;</a
                    >
                </li>
                <li class="nav-item mb-2">Social Media</li>
                <li style="visibility: hidden;" class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-body-secondary"
                        >&nbsp;</a
                    >
                </li>
                <li style="visibility: hidden;" class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-body-secondary"
                        >&nbsp;</a
                    >
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-body-secondary"
                        >&nbsp;</a
                    >
                </li>
            </ul>
        </div>
        <div class="col-6 col-md-2 mb-3">
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    {contact_address.value}
                </li>
                <li class="nav-item mb-2">
                    {contact_country.value}
                </li>
                <li class="nav-item mb-2">
                    <a
                        href={contact_instagram.value}
                        class="nav-link p-0 text-body-secondary"
                        ><i class="fab fa-instagram fa-2x"></i></a
                    >
                </li>
                <li class="nav-item mb-2">
                    <a
                        href={contact_facebook.value}
                        class="nav-link p-0 text-body-secondary"
                        ><i class="fab fa-facebook fa-2x"></i></a
                    >
                </li>
                <li class="nav-item mb-2">
                    <a
                        href={contact_x.value}
                        class="nav-link p-0 text-body-secondary"
                        ><i class="fab fa-twitter fa-2x"></i></a
                    >
                </li>
            </ul>
        </div>
        <div class="col-6 col-md-2 mb-3"></div>
        <div class="col-md-5 offset-md-1 mb-3">
            <form>
                <h5>Subscribe to my newsletter</h5>
                <p>Don't miss out on the latest updates.</p>
                <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                    <label for="newsletter1" class="visually-hidden"
                        >Email address</label
                    >
                    <input
                        id="newsletter1"
                        type="email"
                        class="form-control"
                        placeholder="Email address"
                    />
                    <button class="btn btn-light" type="button"
                        >Subscribe</button
                    >
                </div>
            </form>
        </div>
    </div>
    <div
        class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4"
    >
        <p>© {new Date().getUTCFullYear()}, {contact_name.value}</p>
    </div>
</footer>

<style>
    footer {
        background-color: var(--secondary-color);
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        color: white;
    }
</style>
