---
import type { DropdownProps } from "../../types/dropdown";
import Link from "./Link.astro";

export type Props = DropdownProps & {
    class?: string;
};

const {
    active,
    url,
    title,
    class: className,
    id,
    subpages,
    onClick,
    skipHeadlineInDropdown,
} = Astro.props;
---

<div class="nav-item dropdown">
    <Link
        class:list={[
            active && "active",
            "dropdown-toggle",
            Boolean(className) && className,
        ]}
        url={url}
        id={id}
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        linkText={title.value}
    />
    <ul class="dropdown-menu border-0 ps-lg-0 ps-3" aria-labelledby={id}>
        {
            subpages?.map((subpage, index) => {
                return (
                    <>
                        {!skipHeadlineInDropdown && index === 0 && (
                            <li>
                                <Link
                                    class:list={[
                                        "dropdown-item nav-link",
                                        active &&
                                            !subpages?.some(
                                                (entry) => entry.active,
                                            ) &&
                                            "active",
                                    ]}
                                    url={url}
                                    linkText={`All ${title.value}`}
                                    onclick={onClick}
                                />
                            </li>
                        )}
                        <li>
                            <Link
                                url={subpage.url}
                                linkText={subpage.title.value}
                                class:list={[
                                    "dropdown-item nav-link",
                                    subpage.active && "active",
                                ]}
                                onclick={onClick}
                            />
                        </li>
                    </>
                );
            })
        }
    </ul>
</div>

<style>
    .active {
        text-decoration: underline solid var(--secondary-color);
        text-decoration-thickness: 2px;
        text-underline-offset: 3px;
        text-decoration-skip-ink: none;
    }

    .dropdown-item.active {
        text-decoration: underline solid var(--secondary-color);
        text-decoration-thickness: 2px;
        text-underline-offset: 3px;
        text-decoration-skip-ink: none;
        background-color: var(--grayscale-1);
    }
</style>
