---
import Image from "./../../atoms/Image.astro";
import type { Image as ImageType } from "../../../types/image";
import Link from "./../../atoms/Link.astro";

type Props = {
    title: string;
    style?: string | Record<string, any>;
    text: string;
    img: ImageType;
    url: string;
    linkText: string;
    imgStyle?: string | Record<string, any>;
    className?: string;
};

const { title, text, img, url, linkText, imgStyle, className, style } =
    Astro.props;
---

<div class:list={[className]} class="card" style={style}>
    <Image
        style={imgStyle}
        class="card-img-top"
        {...img}
        lazyLoad={true}
        blurry={true}
    />
    <div class="card-body">
        <h5 class="card-title">{title}</h5>
        <p class="card-text">
            {text}
        </p>
        <Link url={url} linkText={linkText} class="ps-0" />
    </div>
</div>
