---
interface Props {
    text: string;
    class?: string;
    id?: string;
    style?: string | Record<string, any>;
    size?: "h1" | "h2" | "h3" | "h4" | "h5" | "h6";
    fontSize?:
        | "biggest"
        | "biggerer"
        | "bigger"
        | "big"
        | "large"
        | "normal"
        | "small";
}

const {
    text,
    style,
    class: className,
    size = "h2",
    fontSize,
    id,
    ...rest
} = Astro.props;
---

{
    (() => {
        switch (size) {
            case "h1":
                return (
                    <h1
                        id={id}
                        {...rest}
                        class:list={[
                            className,
                            !fontSize && "biggest",
                            !!fontSize && fontSize,
                        ]}
                        style={style}
                    >
                        {text}
                    </h1>
                );
            case "h2":
                return (
                    <h2
                        id={id}
                        {...rest}
                        class:list={[
                            className,
                            !fontSize && "bigger",
                            !!fontSize && fontSize,
                        ]}
                        style={style}
                    >
                        {text}
                    </h2>
                );
            case "h3":
                return (
                    <h3
                        id={id}
                        {...rest}
                        class:list={[
                            className,
                            !fontSize && "big",
                            !!fontSize && fontSize,
                        ]}
                        style={style}
                    >
                        {text}
                    </h3>
                );
            case "h4":
                return (
                    <h4
                        id={id}
                        {...rest}
                        class:list={[
                            className,
                            !fontSize && "large",
                            !!fontSize && fontSize,
                        ]}
                        style={style}
                    >
                        {text}
                    </h4>
                );
            case "h5":
                return (
                    <h5
                        id={id}
                        {...rest}
                        class:list={[
                            className,
                            !fontSize && "normal",
                            !!fontSize && fontSize,
                        ]}
                        style={style}
                    >
                        {text}
                    </h5>
                );
            case "h6":
                return (
                    <h6
                        id={id}
                        {...rest}
                        class:list={[
                            className,
                            !fontSize && "small",
                            !!fontSize && fontSize,
                        ]}
                        style={style}
                    >
                        {text}
                    </h6>
                );
            default:
                return null;
        }
    })()
}

<style>
    .biggest {
        font-size: var(--fz-ultra-ultra-big);
    }

    .biggerer {
        font-size: var(--fz-ultra-big);
    }

    .bigger {
        font-size: var(--fz-big);
    }

    .big {
        font-size: var(--fz-large);
    }

    .large {
        font-size: var(--fz-normal-bigger);
    }

    .normal {
        font-size: var(--fz-normal);
    }

    .small {
        font-size: var(--fz-small);
    }

    /* XL */
    @media only screen and (min-width: 1200px) and (max-width: 1399px) {
        .biggerer {
            font-size: var(--fz-small-ultra-big);
        }
    }

    /* LG */
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .biggerer {
            font-size: var(--fz-biggest);
        }
    }

    /* MD */
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        .biggerer {
            font-size: calc(var(--fz-normal-bigger) + 2px);
        }
    }

    @media only screen and (max-width: 767px) {
        .biggest {
            font-size: var(--fz-ultra-big);
        }

        .biggerer {
            font-size: calc(var(--fz-large) + 8px);
        }

        .bigger {
            font-size: var(--fz-largest);
        }

        .big {
            font-size: var(--fz-normal-bigger);
        }

        .large {
            font-size: var(--fz-normal);
        }

        .normal {
            font-size: var(--fz-small);
        }

        .small {
            font-size: var(--fz-smallest);
        }
    }
</style>
