---
import type { ShowcaseFields } from "../../../types/fields/showcase-fields";
import Image from "./../../atoms/Image.astro";

type Props = ShowcaseFields;

const { showcase_headline, showcase_sub_headline, showcase_images } =
    Astro.props;
---

<section class="showcase">
    <div class="showcase-text-wrapper">
        <div style="width: 100%" class="container showcase-text">
            <h1 class="showcase-text-headline">
                <div class="showcase-text-headline">
                    {showcase_headline.value}
                </div>
            </h1>
            <div class="showcase-text-subheadline">
                <p>
                    {showcase_sub_headline.value}
                </p>
            </div>
        </div>
    </div>
    <div class="container showcase-image">
        {
            showcase_images.reverse().map((image) => (
                <Image
                    {...image}
                    url={image.thumbnail ?? image.url}
                    srcset={image.srcset}
                    blurry={false}
                    lazyLoad={true}
                    class="rounded showcase-img slider__image"
                    style={{
                        objectFit: "cover",
                        width: "100%",
                        height: "500px",
                    }}
                />
            ))
        }
    </div>
    <div style={{ visibility: "hidden" }} class="slider__nav">
        <div class="slider__count slider__count--top">
            <div id="countTop1" class="count count--top count--top-1">01</div>
            <div id="countTop2" class="count count--top count--top-2">02</div>
            <div id="countTop3" class="count count--top count--top-3">03</div>
        </div>
        <div class="slider__bar">
            <div id="sliderBarDynamic" class="slider__bar--dynamic"></div>
            <div class="slider__bar--static"></div>
        </div>
        <div class="slider__count slider__count--bottom">
            <div id="countBottom1" class="count count--bottom count--bottom-1">
                02
            </div>
            <div id="countBottom2" class="count count--bottom count--bottom-2">
                03
            </div>
            <div id="countBottom3" class="count count--bottom count--bottom-3">
                01
            </div>
        </div>
    </div>
</section>

<script>
    import gsap from "gsap";
    import { CustomEase } from "gsap/CustomEase";

    gsap.registerPlugin(CustomEase);
    CustomEase.create("custom", "0.85, 0, 0.15, 1");

    const images = document.querySelectorAll(".showcase-img");

    document.addEventListener("DOMContentLoaded", () => {
        gsap.fromTo(
            images,
            {
                y: "200",
                opacity: 0,
                stagger: 0.05,
                duration: 1,
                ease: "custom",
            },
            {
                y: "0",
                opacity: 1,
                stagger: 0.05,
                duration: 1,
                ease: "custom",
            },
        );

        gsap.to(images, {
            scale: 1.08,
            duration: 10,
            ease: "none",
            repeat: -1,
            yoyo: true,
            yoyoEase: "none",
        });
    });
</script>

<script>
    import gsap from "gsap";
    import { Power3 } from "gsap";

    function doCount(
        currentCount: number,
        nextCount: number,
        durationSec: number,
    ) {
        return new Promise((resolve) => {
            const tl = gsap.timeline({
                onComplete: resolve,
            });

            tl.to(
                countImages[currentCount],
                { duration: 0.5, ease: Power3.easeOut, opacity: 0 },
                durationSec,
            ).to(
                countImages[nextCount],
                {
                    duration: 0.5,
                    ease: Power3.easeOut,
                    opacity: 1,
                },
                durationSec,
            );
        });
    }

    const countImages = document.querySelectorAll(".slider__image");
    const nums = document.querySelectorAll(".count--top").length - 1;

    let currentCount = 0;
    let nextCount = 1;

    const initialTimeSec = 0.1;
    const normalTimeSec = 5;
    const initialCycles = 2;

    (async function autoplayLoop() {
        try {
            let cycle = 0;

            if (!countImages.length) return;

            while (true) {
                const useTime =
                    cycle < initialCycles ? initialTimeSec : normalTimeSec;

                await doCount(currentCount, nextCount, useTime);

                currentCount = currentCount + 1 > nums ? 0 : currentCount + 1;
                nextCount = nextCount + 1 > nums ? 0 : nextCount + 1;
                await new Promise((r) => setTimeout(r, useTime * 1000));

                cycle++;
            }
        } catch (err) {
            console.error("Showcase autoplay error", err);
        }
    })();
</script>

<style>
    .slider__image {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .showcase-img {
        position: absolute;
        opacity: 0;
    }

    .showcase {
        width: 100svw;
        height: 100svh;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        overflow: hidden;
        transform: scale(1);
    }

    .showcase-text-wrapper {
        width: 38svw;
        height: calc(100svh - var(--navbar-height-desktop));
        padding-left: clamp(34px, 3.5vw, 100px);
        display: flex;
        align-items: center;
    }

    .showcase-text-headline,
    .showcase-text {
        letter-spacing: -1px;
        margin: 0;
        font-size: clamp(75px, 9vw, 200px);
    }

    .showcase-text-headline .showcase-text-headline {
        opacity: 0;
        animation: fadein 1.1s ease-out 0.4s forwards;
        position: relative;
        z-index: 4;
        font-family: "Montserrat", sans-serif, Arial, Helvetica, sans-serif;
        padding-bottom: 0px !important;
        overflow: visible;
    }

    .showcase-text-subheadline {
        font-size: clamp(24px, 2vw, 30px);
        position: relative;
        opacity: 0;
        animation: fadein 1.1s ease-out 0.4s forwards;
        hyphens: auto;
        z-index: 2;
    }

    .showcase-text-subheadline p {
        padding: 4px 0;
        margin: 0;
    }

    @keyframes fadein {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .showcase-text-subheadline::after {
        content: "";
        position: absolute;
        bottom: -8px;
        left: 0;
        width: 0;
        height: 4px;
        animation: slidelineIn 1.1s ease-out 0.4s forwards;
    }

    @keyframes slidelineIn {
        from {
            width: 0;
        }

        to {
            width: 100%;
        }
    }

    .showcase-image {
        width: 62svw;
        padding-left: 48px;

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-evenly;
        position: relative;
        -o-object-fit: contain;
        object-fit: contain;
    }

    .showcase-image::after {
        content: "";
    }

    @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .showcase-text-subheadline {
            font-size: var(--fz-large);
        }
    }

    @media only screen and (min-width: 992px) {
        .showcase-text {
            padding: 0 !important;
        }
    }

    @media only screen and (max-width: 991px) {
        .showcase {
            flex-flow: column;
            padding-bottom: 1rem;
            padding-top: 4rem;
        }

        .showcase-text-wrapper {
            width: 100svw;
            flex-basis: 50svh;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            justify-content: center;
        }

        .showcase-image {
            width: 100svw;
            flex-basis: 50svh;
            overflow: hidden;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;

            margin: 4px;
        }

        .showcase-image-left img {
            border-radius: 8px;
        }

        h1,
        .showcase-text {
            font-size: 110px !important;
            padding-bottom: 0;
        }

        .showcase-text-wrapper {
            margin-top: 0;
            padding-left: 0;
            padding-bottom: 2.5rem;
            padding-top: 1rem;
        }

        .showcase-image div {
            height: calc(50svh);
        }

        .showcase-text-subheadline {
            margin-bottom: 1rem;
            font-size: clamp(20px, 3vw, 26px);
        }

        .showcase-text-subheadline::after {
            content: "";
            position: absolute;
            bottom: -8px;
            left: 0;
            height: 4px;
            animation: slidelineIn 1.1s ease-out 0.4s forwards;
        }

        .showcase-image-left,
        .showcase-image-right {
            padding: 12px;
            margin: 4px;
        }

        .showcase-image div {
            margin-top: 0;
        }
    }

    @media only screen and (min-width: 0px) {
        .showcase-text-headline .showcase-text-headline-part1,
        .showcase-text-headline .showcase-text-headline-part2 {
            letter-spacing: 2px !important;
        }
    }

    @media only screen and (min-width: 576px) and (max-width: 767px) {
        .showcase-text {
            font-size: 90px !important;
            display: flex;
            flex-direction: column;
        }

        .showcase-text-headline {
            font-size: 90px !important;
        }

        .showcase-text p {
            margin: 0;
        }

        .showcase-text-subheadline {
            width: 100%;
            max-width: none !important;
            font-size: var(--fz-normal-bigger);
        }

        .showcase-text-subheadline::after {
            max-width: none !important;
        }
    }

    @media only screen and (max-width: 575px) {
        .showcase {
            padding-top: 4rem;
        }

        .showcase-text-wrapper {
            padding-bottom: 0;
        }

        h1,
        .showcase-text {
            font-size: clamp(60px, 20vw, 80px) !important;
            display: flex;
            flex-direction: column;
        }

        .showcase-text p {
            margin: 0;
        }

        .showcase-text-subheadline {
            font-size: clamp(20px, 6vw, 25px);
            width: 100%;
            max-width: none !important;
        }

        .showcase-text-subheadline::after {
            content: "";
            position: absolute;
            bottom: -8px;
            left: 0;
            max-width: 100% !important;
            height: 4px;
            animation: slidelineIn 1.1s ease-out 0.4s forwards;
        }
    }

    @media only screen and (max-height: 600px) {
        h1,
        .showcase-text {
            font-size: clamp(75px, 9vw, 90px);
        }

        .showcase-text-headline {
            font-size: clamp(75px, 9vw, 90px);
        }

        .showcase-text-subheadline {
            font-size: var(--fz-normal);
        }
    }

    @media only screen and (min-height: 601px) and (max-height: 719px) {
        .showcase-text-subheadline {
            font-size: var(--fz-large);
        }
    }

    @media only screen and (min-height: 601px) and (max-height: 719px) and (max-width: 991px) {
        h1,
        .showcase-text {
            font-size: clamp(60px, 20vw, 80px) !important;
        }

        .showcase-text-subheadline {
            font-size: clamp(20px, 5vw, 25px);
        }
    }

    @media screen and (min-width: 576px) and (max-width: 991px) and (max-height: 600px) {
        h1,
        .showcase-text {
            font-size: 90px !important;
        }
    }
</style>
