---
import type { HeaderEntry } from "../../types/header";
import Dropdown from "./Dropdown.astro";
import Link from "./Link.astro";

export type Props = {
    headerEntries: HeaderEntry[] | null | undefined;
};
const { headerEntries } = Astro.props;

//hide /cp parent and just list children as main navigation entry
const childrenCP =
    headerEntries?.find((entry) => entry.id === "cp")?.subpages || [];
const headerEntriesModified = headerEntries
    ?.filter((entry) => entry.id !== "cp")
    .concat(childrenCP);
---

{
    headerEntriesModified?.map((entry) => {
        if (entry.subpages && entry.subpages.length > 0) {
            return (
                <Dropdown
                    active={entry.active}
                    url={entry.url}
                    title={entry.title}
                    subpages={entry.subpages}
                    onclick={entry.onclick}
                    class="nav-link text-start"
                    id="navbarDropdown"
                />
            );
        }

        return (
            <li class:list={["nav-item", "py-3 py-lg-0"]}>
                <Link
                    class:list={[
                        entry.active && "active",
                        "nav-link",
                        "text-start",
                    ]}
                    url={entry.url}
                    linkText={entry.title.value}
                />
            </li>
        );
    })
}

<style>
    .active {
        text-decoration: underline solid var(--secondary-color);
        text-decoration-thickness: 2px;
        text-underline-offset: 3px;
        text-decoration-skip-ink: none;
    }
</style>
